<!DOCTYPE html>
<html>
<head>
	<title>Customer Cart List</title>
</head>
<body>
	<h3>Customer Cart List</h3>

	<a href="/home">Back</a> |
	<a href="/logout">logout</a>
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Customer List</td>
			<td>Medicine Name</td>
			<td>TYPE</td>
			<td>Price</td>
		</tr>

		<% for(var i=0; i< userlist.length; i++ ){ %>
		<tr>
			<td><%= userlist[i].id %></td>
			<td><%= userlist[i].username %></td>
			<td><%= userlist[i].medicinename %></td>
			<td><%= userlist[i].type %></td>
			<td><%= userlist[i].price %></td>
		</tr>
		<% } %>
	</table>
</body>
</html>